.notfound-main{
   
    background-color: rgba(128, 128, 128, 0.411);
    padding: 10%
}
.nt-h1{
    color: indigo;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
.nt-h5{
    text-align: center;

}
